.projects-section {
  padding: 20px;
  position: relative;
}

.title {
  padding-top: 100px;
  color: #A6776A;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.title span {
  color: #3d2621;
}


.projects-container {
  padding-top: 20px;
  display: flex;
  overflow-x: auto; 
  gap: 20px;
  position: relative; 
  -webkit-overflow-scrolling: touch;
  width: calc(100% - 80px); 
  margin: 0 auto; 
  scrollbar-width: none; 
}

.projects-container::-webkit-scrollbar {
  display: none; 
}

.project-card {
  flex: 0 0 auto; 
  width: calc(100% / 3 - 20px); 
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start; 
}

.project-card h6 a {
  text-decoration: none;
  color: #964e3a;;
  font-size: 15px;
  font-weight: 800;
}

.project-card h6 a:hover {
  color: #632f23;
  font-weight: 1200; 
  text-decoration: none;
}

.project-card p {
  margin-top: 10px;
  font-size: 12px;
  color: #A6776A;
  text-align: justify;
  line-height: 1.6rem;
}

.scroll-arrow {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  background-color: #A6776A;
  border: none; 
  padding: 8px; 
  cursor: pointer;
  font-size: 16px; 
  width: 30px; 
  height: 30px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
  z-index: 1000; 
}


.scroll-arrow.left {
  left: 10px; 
}

.scroll-arrow.right {
  right: 10px; 
}

.scroll-arrow.hidden {
  display: none;
}
