/* Container for header and content */

.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
  flex-wrap: wrap;
}

/* Content container */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
  text-align: center;
}

/* Adjust greeting and name text sizes */
.greeting,
.name {
  margin: 0;
  font-size: 80px;
  color: white;
  font-weight: bold;
}

/* Name styling */
.name {
  font-size: 60px;
  color: white;
}

/* Description text styling */
.description {
  font-size: 15px;
  font-family: 'Niconne', cursive;
  color: white;
  max-width: 600px;
  line-height: 1.6;
  text-align: justify;
  margin-top: 20px;
}

/* LinkedIn Button */
.linkedinBtn {
  font-family: 'Niconne', cursive;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f9c414;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s;
}

.linkedinBtn:hover {
  background-color:	#f9dc5c;
}

/* Hero image styling */
.heroImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 1px solid white;
  position: relative;
}

/* Container for image and contact info */
.imageAndContactContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imageAndContactContainer:hover {
  transform: scale(1.05); /* Scale up the card */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
}

/* Image container */
.imageContainer {
  margin-bottom: 10px;
}


/* Contact info box styling */
.contactInfoContainer {
  background-color: white;
  padding: 5px;
  padding-left: 50px;
  width: 100%;
}


.contactInfo {
  font-size: 16px;
  color:black;
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  align-items: flex-start; /* Align the items to the start */
  justify-content: flex-start; /* Align the items to the top */
  text-align: left; /* Align the text to the left */
}

.contactInfo p {
  display: flex;
  align-items: center; /* Vertically align the icon and text */
  margin: 8px 0;
  line-height: 1.5;
}

/* Icon styling for envelope and phone */
.icon {
  margin-right: 10px;
}

/* Responsive adjustments */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .heroImg {
    margin-bottom: 20px;
  }

  .imageAndContactContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    width: 80%;
  }

  .contactInfoContainer {
    width: 100%;
    padding: 15px;
  }
}
