.container {
    color: rgb(56, 50, 50);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}
  
.title {
    padding-top: 110px;
    color: #A6776A;
    font-size: 40px;
    text-transform: uppercase;
    text-align: justify;
    padding-bottom: 10px;
  }
  
  .title span {
    color: #2b1c18;
  }

 
  
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.publicationsList {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.publicationItem {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1000px;
    margin-bottom: 10px;
}
  
.publicationContent {
    display: flex;
    flex-direction: row;
    gap: 13px;
    
}
  
.squareBox {
    background: white;
    border-radius: 10px;
    padding: 5px;
}
  
.publicationTitle {
    font-size: 15px;
    color: #964e3a;;
    font-weight: 800; 
    text-decoration: none; 
}

.publicationTitle:hover {
  font-weight: 1200; 
  text-decoration: none;
  color: #632f23;
}
  
  
.publicationDescription {
    font-size: 14px;
    color: #964e3a;
    line-height: 1.6;
    text-align: justify;
}
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    position: relative;
  }
  
.header .titleWrapper {
    text-align: center;
    width: 100%;
  }
  
  .header .backButton {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .backButton {
    background: none;
    border: none;
    color: #A6776A;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
  }
  
  .backButton:hover {
    color: #964e3a;
  }
  
  .role {
    font-size: 20px;
    font-weight: bold;
  }
  
  .date {
    font-size: 16px;
    font-weight: 300;
  }
  