.container {
  color: rgb(56, 50, 50);
  margin-top: 200px; 
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}

.title {
  color: #A6776A;
  font-size: 40px;
  text-transform: uppercase;
  text-align: justify;
}

.title span {
  color: #2b1c18;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom:20px;
}

.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 800px; 
  margin-bottom: 10px;
}

.contactLink {
  font-size: 18px;
  color: #A6776A;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.contactLink:hover {
  color: #964e3a;
  text-decoration: none;
  font-weight: 800;
}

.icon {
  width: 20px; 
  height: 20px; 
}

.icon:hover {
  opacity: 0.8;
}

.footer {
  width:100%;
  text-align: left;
  padding: 10px;
  background-color:#A6776A;
  color: white;
  position: absolute;
  height: 50px;
  left:0;

}

.footer p {
  margin: 0;
  font-size: 14px; 
}


@media (max-width: 768px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .title {
    font-size: 32px; 
    padding-bottom: 15px;
  }

  .contactItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
  }

  .contactLink {
    font-size: 16px; 
  }

  .icon {
    width: 24px; 
    height: 24px; 
  }

  .footer {
    padding: 15px;
    font-size: 12px; 
  }
}
