.header {
  background-color: #A6776A;
  padding: 5px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.headerTitle {
  font-size: 30px;
  font-weight: 600;
  color: white;
  font-family: "Dancing Script", cursive;
  margin: 0;
  text-align: center;
  background-color: #A6776A;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 50px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 20px;
  color: #A6776A;
  text-decoration: none;
  font-family: "Montserrat", sans-serif !important;
  transition: color 0.3s, text-shadow 0.3s;
  font-weight: 500;
}

.menuItems a:hover {
  color: #964e3a;
  font-weight: 800;
}

.menuBtn {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background: #A6776A;
  border: none;
  z-index: 1001;
  position: fixed;
  top: 10px;
  right: 10px;
}

section {
  margin-top: 60px;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    padding: 40px;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    padding: 0px; 
    opacity: 0.9;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 6px; 
    background-color: #f2e9e0;
  }

  .menuOpen {
    display: flex;
  }

  .menuBtn {
    display: block;
  }
}
