.container {
  color: rgb(56, 50, 50);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "PT Sans Narrow", sans-serif;
}

.title {
  padding-top: 100px;
  color: #A6776A;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center!important;
  padding-bottom: 20px;
}

.title span {
  color: #2b1c18;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.history {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.historyItem {
  display: flex;
  flex-direction: column; 
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px; 
}

.historyItemContent {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 15px;
}

.historyItem img {
  width: 100px; 
  height: 50px; 
  border-radius: 10px;
  background: white;
  padding: 5px;
}

.historyItemDetails {
  text-align: center; 
  color: #A6776A;
  text-decoration: none;
}

.historyItemDetails .role {
  font-size: 15px; 
  font-weight: 700;
  color: #632f23;
}

.historyItemDetails .date {
  font-size: 12px; 
  font-weight: 700;
  color: #632f23;
}

.historyItemDetails .description {
  margin-top: 7px; 
  font-size: 13px; 
  color: #A6776A;
  text-align: justify;
  line-height: 1.6;
}

.historyItemDetails .icon {
  font-size: 24px; 
  color: #A6776A; 
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  position: relative;
}

.header .titleWrapper {
  text-align: center;
  width: 100%;
}

.header .backButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.backButton {
  background: none;
  border: none;
  color: #A6776A;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s;
}

.backButton:hover {
  color: #964e3a;
}

@media (max-width: 768px) {
  .historyItem {
    width: calc(100% - 20px); /* 1 item per row on smaller screens */
  }
}
