.App {
  background: linear-gradient(to right, #3e2b3e, #684c6b, #291c2d, #332438);
  background-size: 200% 200%;
  background-position: top left, bottom right;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: gradientAnimation 15s infinite ease-in-out;
}
